
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700');

/* ==============================================================
   Edited Bootstrap Variables
   ============================================================== */

   // Color system
   $white: #ffffff;
   $black: #000000;
   $gray-200: #eeeeee;
   $gray-900: #363636;
   $gray-500: #adb5bd;
   $darkblue:    #085394;
   $darkgreen: #2E4252;
   $fclone-main: #556589;
   $fclone-sec: #60BD77;
   $fclone-main-subtle: #F4F5F8;
   $hotpink: #ff69b4;
   $dustyblue: #d2d8e3;
   $palepink: #f7f1f2;



   $colors: (
      "fclone-main": $fclone-main,
      "fclone-sec": $fclone-sec,
      "hotpink": $hotpink
   );

   $primary:  $fclone-main;
   $success: $fclone-sec;
   $danger: $hotpink;


   $theme-colors: (
     "primary": $primary,
     "success": $success,
     "danger": $danger
   );

   // Spacing
   // stylelint-disable
   $spacer: 1rem;
   $spacers: ();
   $spacers: map-merge((
     0: 0,
     1: ($spacer * .25),
     2: ($spacer * .5),
     3: $spacer,
     4: ($spacer * 1.5),
     5: ($spacer * 3),
     6: ($spacer * 6),
     7: ($spacer * 12)
   ), $spacers);

   // Body
   $body-bg:                               $white;
   $body-color:                            $gray-900;

   // Forms

   $input-color:                           $gray-500;

   $input-group-addon-bg:                  $white;
   $input-group-padding-y:          12px;
   $input-group-padding-x:          14px;





   // Fonts
   //
   // Font, line-height, and color for body text, headings, and more.
   $font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Lato", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
   $font-size-base:              0.85rem; // i.e 12px Assumes the browser default, typically `16px` &

   $h1-font-size:                $font-size-base * 3.5;
   $h2-font-size:                $font-size-base * 3.25;
   $h3-font-size:                $font-size-base * 2.75;
   $h4-font-size:                $font-size-base * 2.25;
   $h5-font-size:                $font-size-base * 1.75;
   $h6-font-size:                $font-size-base;

   $headings-font-family:        "Lato", sans-serif;

   /* ==============================================================
      HEADER
      ============================================================== */

      .subtle-change{
        .navbar{
          padding: 0 1rem;
        }
      }

      .bg-paysite-dark {
        background-color: rgba($fclone-main-subtle,0.8);
        border-bottom: 1px solid rgba(0,0,0,.1);
      }

      .bg-paysite {
        background-color: rgba(255,255,255,0.8);
        //border-bottom: 1px solid rgba(0,0,0,.1);
      }

       // Navbar
       .navbar {
         .badge {
             position: absolute;
             top: 0;
             right: 0;
         }

       }


       .navbar-nav {
           .nav-link {
             text-transform: uppercase;
           }
         }

       .extraNav {
         .nav-link{
           text-transform: capitalize;
         }
       }

       .input-group-text {
           border: none;
         }

       .btn {
           text-transform: uppercase;
         }

    /* ==============================================================
      SECTION BACKGROUNDS
    ============================================================== */
    .product-text {
        text-transform: uppercase;
        border-radius: .75rem;
        padding: 5px 12px;
    }

      .pinky{
        background-image: linear-gradient($white, $palepink);
      }

      .dustyblue{
        background-image: linear-gradient($white, $dustyblue);
      }

      .receive {
        background-image: url("../img/receivebanner.jpg");
        .product-text {
            background-color: rgba($white,.1);
            color: #fff;
        }
      }

      .transfer {
        background-image: url("../img/transferbanner.jpg");
        .product-text {
            background-color: rgba($white,.1);
            color: #fff;
        }
      }

/* ==============================================================
   Items
============================================================== */
      .signup{
        a {
          transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
       -webkit-transition: all 200ms ease-in;
        }

        a:hover{
          color: rgba($hotpink, 0.9);
          text-decoration: none;
        }

      }
      .need-box{
        text-align: center;
        transition: transform .3s;
        transition: all 150ms ease-in;
        -moz-transition: all 150ms ease-in;
          -o-transition: all 150ms ease-in;
     -webkit-transition: all 150ms ease-in;
        padding-top: 2rem;
        padding-bottom: 2rem;

        a {
          color: white;
        }

        a:hover {
          text-decoration: none;
        }

        &:hover{
          transform: translateY(-0.5rem) scale(1.01);
          box-shadow: 0 1.5rem 4rem rgba($black, .15);
          background-color: rgba($fclone-main-subtle, .10);

        }
      }



   @import "../node_modules/bootstrap/scss/bootstrap";

      /* ==============================================================
         FOOTER
      ============================================================== */

      footer{

          a {
            transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;
              -o-transition: all 200ms ease-in;
         -webkit-transition: all 200ms ease-in;
          }

          a:hover{
            color: rgba($hotpink, 0.9);
            text-decoration: none;
          }

          .footer-top{
            background-color: #FAFAFA;
            border-top: 1px solid #e6e6e6;

            .footermenu{
              padding-left: 20px;
              overflow: hidden;
              margin: 0;
              padding: 0;
              list-style: none;
              color: #666;
              font-size: .875rem;
                li{
                  line-height: 2.0;
                }

                // .footer-nav-title-logo+.footermenu li::after{
                //   content: '';
                //   display: inline-block;
                //   height: 3px;
                //   width: 3px;
                //   background: #ccc;
                //   border-radius: 50%;
                //   position: absolute;
                //   top: 24px;
                //   left: 2px;
                // }

            }

            .footerheading{
              font-weight: bold;
              line-height: 1.6;
              text-transform: uppercase;
            }
          }

          .support-social{text-align:left;}

          .social {
            display:inline-block;
            width:30px;
            height:30px;
            line-height:1.8rem;
            font-size:1rem;
            text-align:center;
            color:#2d2d32;
            border:1px solid;
            border-radius:50%;
            background:#fff;
            overflow:hidden;
            transition:color .3s;

            &:hover{
              text-decoration: none;
              color: #d9534f;
            }
          }

          .footer-bottom {
            background-color: #f1f1f1;
            border: solid 1px #e6e6e6;
            color: #666;
            font-size: 0.75rem;
            font-family: Roboto, sans-serif;

            .side-a{
              float:left;
              line-height: 1.3rem;
              @include media-breakpoint-down(xs) {
                  float: none;
                  text-align: center;
              }

              a {
                  display: inline-block;
                  height: auto;
                  padding: 0;
              }

              a::after {
                  content: '-';
                  display: inline-block;
                  margin: 0 4px;
              }

              a:last-child::after {
                  display: none;
              }
            }

            .side-b{
              float:right;
              line-height: 1.3rem;
              @media (max-width: 480px) {
                  padding-top:0.75rem;
                  float: none;
                  text-align: center;
              }
            }
          }
      }
