<section>
  <div class="container py-6">
    <div class="row">
      <div class="col-md-6">
        <a ui-sref="isw"><img src="img/isw.png" alt="interswitch webpay" /></a>
      </div>
      <div class="col-md-6">
        <a ui-sref="usps"><img src="img/payarena.png" alt="usps" /></a>
      </div>
    </div>
  </div>
</section>
