<section>
  <div class="container py-6">
    <div class="row">

      <div class="row">

          <div class="col-md-12">
            <h3>Interswitch WebPay</h3>

                          <div class="panel-group feature-accordion brand-accordion icon angle-icon" id="basic">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#basic" href="" data-target="#basic-one">
                                             0.1 Get Credentials
                                          </a>
                                      </h3>
                                  </div>
                                  <div id="basic-one" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                      <div class="row" id="getcredentials">
                                        <div class="col-md-12">
                                          <p>To perform a transaction, you will need to obtain your credentials from Paysite</p>

                                          <em>For all your web request, note that PATH="https://paysite.herokuapp.com/"</em>
                                          <table class="table table-responsive">
                                            <tr>All Parameters and Values are mandatory</tr>
                                            <tr>
                                                <th>S/N</th>
                                                <td>1.</td>

                                            </tr>
                                            <tr>
                                                <th>METHOD</th>
                                                <td>POST </th>
                                            </tr>
                                            <tr>
                                              <th>REQUEST URL</th>
                                              <td>PATH + 'tranx/getcreds' i.e https://paysite.herokuapp.com/tranx/getcreds</td>
                                            </tr>
                                            <tr>
                                              <th>PARAMS</th>
                                              <td>email and password <small>Supply your email and password as value</small></td>
                                            </tr>
                                            <tr>
                                              <th>HEADERS</th>
                                              <td>
                                                Authorization Basic (value is base64 encode of your email:password).
                                                e.g myemail@me.com:MyPassWord.

                                              </td>
                                            </tr>

                                          </table>
                                        </div>
                                        <div class="col-md-12">
                                          <p class="center-align"><u>DEMO</u></p>
                                          <p class="center-align">Kindly input your registered email address and password below to obtain your integration credentials</p>
                                          <p class="center-align">Click <a ui-sref="signup">here </a>to signup as a merchant if you don't have an account yet.</p>
                                        </div>

                                          <div class="col-md-6">

                                                  <h5 class="center-align"> REQUEST</h5>

                                                      <form name="getcred" id="getcred">
                                                          <div class="form-group">
                                                              <label for="email">*Email:</label>
                                                              <input type="email" required class="form-control" name="email" id="email" ng-model="gcemail">
                                                          </div>
                                                          <div class="form-group">
                                                              <label for="pass">*Password:</label>
                                                              <input type="password" required name="pass" id="pass" ng-model="gcpass" class="form-control">
                                                          </div>
                                                          <button class="btn btn-danger" ng-disabled="getcred.$invalid || vm.dataLoading" ng-click="vm.getCreds(gcemail,gcpass)">Get Credentials</button>
                                                          <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                                      </form>




                                          </div>
                                          <div class="col-md-6">
                                                  <h5>RESPONSE</h5>
                                                      <p class="result">{{vm.gcresp | json}}</p>
                                          </div>
                                      </div></div> <!-- end get crednetials -->
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#basic" href="" data-target="#basic-two">
                                              02. Hash Computation
                                          </a>
                                      </h3>
                                  </div>
                                  <div id="basic-two" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <div class="col-md-12">
                                          <p class="center-align">To perform a transaction, you will need to supply SHA 512 Hash of Merchanrt Reference, Transaction Reference, HashKey, Amount and Callback URL.</p>
                                          <h3 class="center-align">HASH COMPUTATION DEMO </h3>

                                        </div>
                                          <div class="row" id="computeHash" style="margin-top: 10px">
                                              <div class="col-md-6">
                                                  <h5 class="center-align">HASH REQUEST</h5>
                                                  <p class="center-align">All fields are mandatory and must be filled</p>
                                                  <form id="dhash" name="dhash">
                                                      <!-- MERCHREF,TRANSREF,MACKEY,AMOUNT,CALLBACK -->
                                                      <div class="form-group">
                                                          <p><i>value sent in welcome email or <a href="merchantregistrationform" target="_blank"> sign-up here</a></i></p>
                                                          <label for="mgref">*Merchant Reference</label>
                                                          <input type="text" class="form-control" ng-model="gh.merchRef" id="mgref" name="mgref" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <p><i>Must be unique for every transaction/request</i></p>
                                                          <label for="tgref">*Transaction Reference(Use Same Value for Pay and Query Requests) <a href="" ng-click="vm.mkref()"> <i class="fa fa-refresh"></i></a> </label>
                                                          <input type="text" class="form-control" ng-model="gh.transRef" id="tgref" name="tgref" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <p><i>Returned in get credentials request. see your profile</i></p>
                                                          <label for="mgmac">*Mac key</label>
                                                          <input type="text" class="form-control" ng-model="gh.hashkey" id="mgmac" name="mgmac" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <p><i>Must be lower denomination no decimals</i></p>
                                                          <label for="ghamt">*Amount</label>
                                                          <input type="text" class="form-control" ng-model="gh.amount" id="ghamt" name="ghamt" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="ghcb">Callback URL</label>
                                                          <input type="text" class="form-control" ng-model="gh.callback" id="ghcb" name="ghcb" required>
                                                      </div>
                                                      <button class="btn btn-danger" ng-click="vm.doHashIsw()" ng-disabled="dhash.$invalid ||vm.dataLoading">Compute Hash</button>
                                                      <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                                  </form>
                                              </div>
                                              <div class="col-md-6">
                                                  <h5 class="center-align result">HASH RESPONSE</h5>
                                                      <div class="result">{{vm.hashresponse}}</div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#basic" href="" data-target="#basic-three">
                                              03. Pay Request
                                          </a>
                                      </h3>
                                  </div>
                                  <div id="basic-three" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <div class="row" id="payRequest">
                                            <div class="col-md-12">
                                              <p>This is the actual transaction processing request.</p>

                                              <table class="table table-responsive">
                                                <tr>All Parameters and Values are mandatory</tr>
                                                <tr>
                                                    <th>S/N</th>
                                                    <td>3.</td>

                                                </tr>
                                                <tr>
                                                    <th>METHOD</th>
                                                    <td>POST </th>
                                                </tr>
                                                <tr>
                                                  <th>REQUEST URL</th>
                                                  <td>PATH + 'tranx/dopay' i.e https://paysite.herokuapp.com/webpay/dopay</td>
                                                </tr>
                                                <tr>
                                                  <th>PARAMS (JSON PAYLOAD)</th>
                                                  <td>
                                                      <table>
                                                        <tr>
                                                          <th>Key</th>
                                                          <td>Value</td>
                                                        </tr>
                                                          <tr>
                                                            <th>Transaction Reference</th>
                                                            <td>This is a unique alphanumeric value that identifies each transaction. Same value must be used for hash computation, PAY and re-query requests.</td>
                                                          </tr>
                                                          <tr>
                                                            <th>Merchant Reference</th>
                                                            <td>Unique ID assigned to you as a merchant by Paysite. You can obtain this using the Get Credentials request above. This is a static value. Can be stored in you application for future transactions</td>
                                                          </tr>
                                                          <tr>
                                                            <th>Description (descr)</th>
                                                            <td>This is the purpose of payment. You are required to capture the user's IP address and append it to the payment description</td>
                                                          </tr>
                                                          <tr>
                                                            <th>Hash Key </th>
                                                            <td>HashKey obtained from step One (Get Credentials request). </td>
                                                          </tr>
                                                          <tr>
                                                            <th>Submitted Hash  </th>
                                                            <td>Hash result obtained from step 2 above. </td>
                                                          </tr>
                                                          <tr>
                                                            <th>Currency</th>
                                                            <td>Value is 566. </td>
                                                          </tr>
                                                          <tr>
                                                          <th>Calback</th>
                                                          <td>This is your return URL. A webpage on your site where customers will be returned to after Paysite has processed the transaction. The transaction ID will be sent to this page as well. You can use this to query Paysite for transaction status and then display status message to customer on this page.</td>
                                                        </tr>
                                                        <tr>
                                                          <th>Amount</th>
                                                          <td>Default is Nigerian naira .</td>
                                                        </tr>
                                                      </table>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <th>HEADERS</th>
                                                  <td>
                                                    Authorization Basic (value is base64 encode of your email:password).
                                                    e.g myemail@me.com:MyPassWord.

                                                  </td>
                                                </tr>

                                              </table>
                                            </div>
                                            <div class="col-md-12">
                                              <h3 class="center-align"> DEMO PAY REQUEST</h3>
                                            </div>

                                              <div class="col-md-6">
                                                  <h5 class="center-align">Request</h5>
                                                  <form id="iswpayform" name="iswpayform" ng-init="getmyIp()">
                                                    <div class="form-group">
                                                        <label for="tref">*Transaction Reference (Use same value to re-confirm status)<a href="" ng-click="vm.dotref()"> <i class="fa fa-refresh"></i></a> </label>
                                                        <input type="text" class="form-control" ng-model="pay.transRef" id="tref" required>
                                                    </div>

                                                      <div class="form-group">
                                                          <label for="pmref">Merchant Refernce</label>
                                                          <input type="text" class="form-control" id="pmref" ng-model="pay.merchRef" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="cem">Customer Email</label>
                                                          <input type="text" class="form-control" id="cem" ng-model="pay.custId" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="cna">Customer Name</label>
                                                          <input type="text" class="form-control" id="cna" ng-model="pay.custName" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="pmref">Description</label>
                                                          <input type="text" class="form-control" id="pmref" ng-model="pay.description" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="mk">*HashKey</label>
                                                          <input type="text" id="mk" class="form-control" ng-model="pay.hashkey" required />
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="curr">Currency</label>
                                                          <input type="text" id="curr" class="form-control" ng-model="pay.currencyCode" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="cb">Callback</label>
                                                          <input type="text" id="cb" class="form-control" ng-model="pay.callback" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="pamt">Amount[NGN]</label>
                                                          <input type="text" class="form-control" id="pamt" ng-model="pay.amt" required>
                                                      </div>
                                                      <input type="hidden" id="phash" ng-model="pay.submittedHash" value="{{pay.submittedHash}}" required >
                                                      <button class="btn btn-success" ng-click="vm.dopayhash()">Calculate Hash</button>
                                                      <button class="btn btn-danger" ng-disabled="iswpayform.$invalid || vm.dataLoading" ng-click="vm.newWebPay()">Submit Request</button>
                                                      <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                                                  </form>
                                                  <pre>{{pay|json}}</pre>
                                              </div>
                                              <div class="col-md-6">
                                                  <h5 class="center-align">Response</h5>
                                                  <p><b>Kindly load the transurl value in response in a browser window to process transaction.</b></p>
                                                  <p class="result">{{vm.payResponse}}</p>
                                              </div> <!-- pay request ends -->
                                          </div>

                                      </div>
                                  </div>
                              </div>
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#basic" href="" data-target="#basic-four">
                                              04. Re-Confirm Transaction Response?
                                          </a>
                                      </h3>
                                  </div>
                                  <div id="basic-four" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        <div class="col-md-12">
                                          <p>You are required to re-confirm transaction status from Paysite before you can display transaction status to customer.</p>

                                          <em>For all your web request, note that PATH="https://paysite.herokuapp.com/"</em>
                                          <table class="table table-responsive">
                                            <tr>All Parameters and Values are mandatory</tr>
                                            <tr>
                                                <th>S/N</th>
                                                <td>4.</td>

                                            </tr>
                                            <tr>
                                                <th>METHOD</th>
                                                <td>POST </th>
                                            </tr>
                                            <tr>
                                              <th>REQUEST URL</th>
                                              <td>PATH + 'tranx/requery' i.e https://paysite.herokuapp.com/webpay/iswrequery</td>
                                            </tr>
                                            <tr>
                                              <th>PARAMS</th>
                                              <td>
                                                <table>
                                                  <tr>
                                                    <th>Key</th>
                                                    <td>Value</td>
                                                  </tr>
                                                    <tr>
                                                      <th>Transaction Reference</th>
                                                      <td>Same value used/sent in PAY request</td>
                                                    </tr>
                                                    <tr>
                                                      <th>Merchant Reference</th>
                                                      <td>Same value used in PAY request and other prior requests</td>
                                                    </tr>
                                                    <tr>
                                                      <th>Amount </th>
                                                      <td>Transaction amount. Same value used in PAY request. </td>
                                                    </tr>

                                                </table>
                                              </td>
                                            </tr>
                                            <tr>
                                              <th>HEADERS</th>
                                              <td>
                                                Authorization (value is base64 encode of the transaction reference and merchant reference).


                                              </td>
                                            </tr>

                                          </table>
                                        </div>


                                          <div class="row">
                                              <div class="col-md-6">
                                                  <h5 class="center-align">Request</h5>
                                                  <form id="iswquery" name="iswquery">
                                                      <div class="form-group">
                                                          <label for="qtref">Transaction Reference</label>
                                                          <input type="text" class="form-control" id="qtref" ng-model="que.txnref" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="qmref">Merchant Reference</label>
                                                          <input type="text" id="qmref" class="form-control" ng-model="que.merchRef" required>
                                                      </div>
                                                      <div class="form-group">
                                                          <label for="qamt">Amount</label>
                                                          <input type="text" class="form-control" id="qamt" ng-model="que.amount" required>
                                                      </div>
                                                      <button class="btn btn-danger" ng-disabled="iswquery.$invalid || vm.dataLoading" ng-click="vm.doIswquery(que.txnref)">Submit</button>
                                                      <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                                                  </form>
                                                  <pre>{{que|json}}</pre>

                                              </div>
                                              <div class="col-md-6">
                                                  <h5 class="center-align">Response</h5>
                                                  <p class="result">{{vm.queResponse}}</p>

                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      <!-- /.col-md-8 -->
                  <!-- /.row -->


                   <!-- compute hash ends-->

          </div><!-- /.col-md-12-->

      </div>
    </div>
  </div>
</section>
