<section>
  <div class="container py-6">
    <div class="row">
      <p>Through partnerships with existing billing platforms, we have hundreds of billers on our platform which makes bill payment one last thing to worry about. Search for biller to get started. </p>
    </div>
  </div>
</section>
