<section>
  <div class="container py-6">
    <div class="row">
      <p>Our partner, GidiEvents has hundreds of Hotels listed on the their portal and you can book the hotels and pay with Paysite. Check for hotel to get started</p>
    </div>
  </div>
</section>
