<section>
  <div class="container py-6">
    <div class="row">
      <p>We are in discussion with major Movie houses to make payment seamless. Check back to see our list of Cinemas where Paysite is powering seamless payment.</p>
    </div>
  </div>
</section>
