<section class="receive text-light">
  <div class="container py-6">
    <div class="row">
      <div class="col-md-7">
        <span class="product-text">Receive Payments</span>
        <h3 class="pt-4 pb-3">You can receive payments for your business using your web or mobile applications.</h3>
        <p class="">Our simple integration process enables you to integrate our API to your website or mobile app. In addition, your customers also have options to pay using Interswitch or Unified Payment gateways</p>
        <div class="py-4">
          <a class="btn btn-outline-danger btn-lg" title="get started for free" >
            get started for free
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
