<section class="transfer text-light">
  <div class="container py-6">
    <div class="row">
      <div class="col-md-7">
        <span class="product-text">Funds Transfer</span>
        <h3 class="pt-4 pb-3">With our simple interface, you can transfer funds to any bank account in Nigeria.</h3>
        <p class="">Transfer to/from foreign accounts and Paypal coming soon. Watch out Image to spice up page is named cash.</p>
        <div class="py-4">
          <a class="btn btn-outline-danger btn-lg" title="get started for free" >
            get started for free
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
