<section>
  <div class="container py-6">
    <div class="row">
      <h3>About Atlas</h3>
      <p>tlas Systems and Technology Solutions Limited is an Information and Communications Technologies organization based in Lagos, Nigeria and partnering with a host of renowned foreign Information Technology (software and hardware) companies. The company was incorporated in 2001 with a vision to help leading companies achieve their business objectives using Information and Communications Technologies.

We have very strong competencies in delivering world class Internet solutions by creating inviting, informative and interactive web and mobile applications for clients. We work diligently to educate each client and help them to deliver information systems strategy and technologies consistent with their business model.We provide value to our customers by offering several benefits to them including speed to market, high quality people and processes, cutting edge technology expertise and a full service portfolio. We have alliances with the major IT distributors and resellers. We are authorized resellers to Go Daddy, Alt-N and Google.

To this end, we are delighted to present one of our initiatives, which is a world-class payment solution. We have implemented a range of technology ideas for several organizations in various sectors of our economy including manufacturing, education, agriculture, professional services and others. We have particularly done extremely well in the media industry where we have developed various web solutions that have benefitted quite a number of media houses. We will be glad to deploy our massive experience in helping your business achieve its objectives, and simultaneously have competitive advantages over others through IT.</p>
    </div>
  </div>
</section>
