
<section>
  <div class="container py-6">
    <div class="row">
      <div class="text-center mb-80">
          <h2 class="section-title text-uppercase">Our Portfolio</h2>
          <p class="section-sub">Other initiatives or projects implemented by Atlas  </p>
      </div>


    <div class="row">
      <div class="col-md-6">
          <article class="post-wrapper list-article">

            <div class="hover-overlay brand-bg"></div>

            <div class="thumb-wrapper waves-effect waves-block waves-light">
              <a href="#"><img src="assets/portfolio1.jpg" class="img-responsive" alt="" ></a>
            </div><!-- .post-thumb -->

            <div class="blog-content">
              <header class="entry-header-wrapper">
                <div class="entry-header">
                  <h2 class="entry-title"><a href="#">INFODIGEST</a></h2>


                </div><!-- /.entry-header -->
              </header><!-- /.entry-header-wrapper -->

              <div class="entry-content">
                <p>An initiative to organise Nigeria’s information and become the single largest information resource on Nigeria (www.infodigest-ng.com)</p>
              </div><!-- .entry-content -->
            </div>

          </article><!-- /.post-wrapper -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
          <article class="post-wrapper list-article">

            <div class="hover-overlay brand-bg"></div>

            <div class="thumb-wrapper waves-effect waves-block waves-light">
              <a href="#"><img src="assets/portfolio2x.jpg" class="img-responsive" alt="" ></a>
            </div><!-- .post-thumb -->

            <div class="blog-content">
              <header class="entry-header-wrapper">
                <div class="entry-header">
                  <h2 class="entry-title"><a href="#">EVENTSINNIGERIA</a></h2>


                </div><!-- /.entry-header -->
              </header><!-- /.entry-header-wrapper -->

              <div class="entry-content">
                <p>A collection of free and paid events ranging from social to corporate and religious. We pride to have the largest event collection in Nigeria. (www.eventsinnigeria.com) </p>
              </div><!-- .entry-content -->
            </div>

          </article><!-- /.post-wrapper -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
          <article class="post-wrapper list-article">

            <div class="hover-overlay brand-bg"></div>

            <div class="thumb-wrapper waves-effect waves-block waves-light">
              <a href="#"><img src="assets/cloud.jpg" class="img-responsive" alt="" ></a>
            </div><!-- .post-thumb -->

            <div class="blog-content">
              <header class="entry-header-wrapper">
                <div class="entry-header">
                  <h2 class="entry-title"><a href="#">MICROFINANCE PLATFORM.COM</a></h2>


                </div><!-- /.entry-header -->
              </header><!-- /.entry-header-wrapper -->

              <div class="entry-content">
                <p> Cloud based award winning microfinance core banking system for integrated loans, savings and accounting transactions in use by 40 MFIs serving over 1m clients in 8 countries. (www.microfinanceplatform.com)
                <br/> <br/><br/><br/><br/><br/><br/><br/>

                </p>
              </div><!-- .entry-content -->
            </div>

          </article><!-- /.post-wrapper -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6">
          <article class="post-wrapper list-article">

            <div class="hover-overlay brand-bg"></div>

            <div class="thumb-wrapper waves-effect waves-block waves-light">
              <a href="#"><img src="assets/portfolio4.jpg" class="img-responsive" alt="" ></a>
            </div><!-- .post-thumb -->

            <div class="blog-content">
              <header class="entry-header-wrapper">
                <div class="entry-header">
                  <h2 class="entry-title"><a href="#">MICROFINANCE PLATFORM.NET</a></h2>

                </div><!-- /.entry-header -->
              </header><!-- /.entry-header-wrapper -->

              <div class="entry-content">
                <p>
                A one stop portal for
    </div>
  </div>
</section>
