<section>
  <div class="container py-6">
    <div class="row">

      <h3>ATLAS PROFESSIONAL TEAM</h3>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="http://via.placeholder.com/150x75" alt="CEO">
          <div class="card-body">
            <h4 class="card-title">Kazeem Durodoye, PhD.</h4>
            <p class="card-text">Chief Executive Officer</p>
            <p class="card-text">Dr. Durodoye parades two M.Sc degrees in Pharmaceutics and Information Science as well as a Ph.D in Information Systems and Business from the University of Ibadan. He is also a Certified Information Security Manager (CISM) of the Information Systems Audit and Control Association, USA. He is also a member of Nigeria Computing Society (NCS); Computer Professional Registration Council of Nigeria (CPN) and the American Society of Information Science and Technology (ASIST).</p>

          </div>
        </div>


      </div>
      <div class="col-md">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="http://via.placeholder.com/150x75" alt="Biodun">
          <div class="card-body">
            <h4 class="card-title">Dr Tunde Ali.</h4>
            <p class="card-text">Dr. Tunde Alli is a first class medical professional with over 17 years in medical practice in Nigeria, South Africa, Australia and currently in Canada. He is Consultant Anaethesia, Consultant Family Practice. His specialities include pain management, family practice, medical IT services and internet marketing. He is owner, Tarat Investments, a company which specialises in medical IT solutions, writing, publishing and other production services. He also owns Tarat Medicals. Dr. Ali is owner of NETWISEWSI, a Canadian-based company which specialises in Internet consulting, and solution services with core expertise in individual/political internet marketing and medical internet solutions.</p>

          </div>
        </div>

      </div>
      <div class="col-md">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="http://via.placeholder.com/150x75" alt="developer">
          <div class="card-body">
            <h4 class="card-title">Biodun Olasebikan.</h4>
            <p class="card-text">Lead Programmer/Software Architect.</p>
            <p class="card-text">Mr. Biodun Olasebikan is the Lead Programmer/Software Architect for Atlas Systems. Biodun holds a bachelor degree and masters degree in Information Science, both in the University of Ibadan. He is a PHP programmer and a fanatic Drupal developer. Playing chess, listening to musics, Reading and Taekwondo are those things he use his leisure time to do.</p>

          </div>
        </div>

      </div>
      <div class="col-md">

        <div class="card" style="width:400px">
          <img class="card-img-top" src="http://via.placeholder.com/150x75" alt="Dapo">
            <div class="card-body">
              <h4 class="card-title">Dapo Salam</h4>
              <p class="card-text">Business Development Manager.</p>
              <p class="card-text">Mr Dapo Salam has over ten years experience in marketing in various organizations. He parades a master degree in Public and International Affairs from University of Lagos, he is also an Associate of Chartered Institute of Personnel Management (CIPM). Studied Philosophy at Ogun State University, Ago-Iwoye(now Olabisi Onabanjo University) with over seven years experience in Advertising, Page planning,Business development and Digital marketing.</p>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
