<section>

  <div class="container py-6">

      <div class="text-center mb-80">
          <h2 class="section-title text-uppercase">Drop us a line</h2>
          <p class="section-sub">We have a dedicated support team waiting eagerly to respond to you.</p>
      </div>

    <div class="row">
        <div class="col-md-8">
          <form action="">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone">
            </div>
            <div class="form-group">
              <label for="web">Website</label>
              <input type="text" class="form-control" id="web">
            </div>
            <div class="form-group">
              <label for="message"> Your Message</label>
              <textarea rows="4" class="form-control" id="message"></textarea>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>

        <div class="col-md-4 contact-info">

            <address>
              <i class="fa fa-home"></i>
              <div class="address">
              152 Obafemi Awolowo Way<br /> Ikeja Lagos, Nigeria


                <hr />
                <u>US Office </u>
                6750 Cattail Avenue, Cottage Grove, MN 55016.


              </div>
              <hr />

              <i class="fa fa-mobile"></i>
              <div class="phone">
                <p>Fax: (+234) 2348051200000<br />
                Phone: +2348051200000, +2348062108256</p>
              </div>
              <hr />

              <i class="fa fa-envelope"></i>
              <div class="mail">
                <p><a href="mailto:">info@pay-site.com</a><br />
                <Link to="www.pay-site.com">www.pay-site.com</Link></p>
              </div>
            </address>

        </div>
    </div>
  </div>
</section>

<div class="row">
<div id="myMap" class="height-350"></div>

</div>
