<section class="pinky">
  <div class="container py-6">
    <div class="row">
      <div class="col-md-7 pt-5">
        <h1 class="pt-5">Intuitive, feature-rich, affordable customer support payment gateway</h1>
        <div class="py-4">
          <a class="btn btn-primary btn-lg" title="Signup For Free" id="sign_up" ui-sref=signup>
          Sign up for free
          </a>
        </div>
        <div class="mt-4 d-none d-xl-block">
          <h5>Over <b>150,000 businesses</b> of all sizes trust us.</h5>
          <div class="mt-4">
            <img src="img/vonofoam.png" alt="" class="mt-2 mr-2">
            <img src="img/vitafoam.png" alt="" class="mt-2 mr-2">
            <img src="img/logo-pearson.png" alt="" class="mt-2 mr-2">
            <img src="img/leadership.png" alt="" class="mt-2 mr-2">
            <img src="img/logo-amex.png" alt="" class="mt-2 mr-2">
            <img src="img/logo-dhl.png" alt="" class="mt-2 mr-2">
            <img src="img/interview.png" alt="" class="mt-2 mr-2">
          </div>
        </div>
        <div class="mt-6">
          <h2 class="mt-4 pt-4">With Paysite, you can…</h2>
          <ul class="list-unstyled text-muted">
            <li><h5><i class="far fa-check-circle text-primary py-2"></i>&nbsp;<b>Run</b> a plug and play ecommerce store</h5></li>
            <li><h5><i class="far fa-check-circle text-primary py-2"></i>&nbsp;<b>Accept</b> card payments via Visa, MasterCard and Verve</h5></li>
            <li><h5><i class="far fa-check-circle text-primary py-2"></i>&nbsp;<b>Receive</b> world class customer support and reporting...<a href="">See all features</a></h5></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img src="img/home-banner-image.svg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section style="background-color: #ffffff;" class="py-6">
  <div class="container">
    <h2 class="text-center pb-5">So, what brings you here today?</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="need-box">
          <a href="">
            <div class="" style=" ">
              <img class="mx-auto d-block" alt="" title="" src="img/iso-image1.png">
            </div>
            <h3 class="text-dark pt-2">I want an ecommerce store</h3>
            <!-- <p class="text-muted">but i</p> -->
          </a>
          <div class="pt-4">
            <a href=""></a>
            <a title="START MY STORE" class="btn btn-primary btn-lg"  href="">
              start my store
            </a>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="need-box">
          <a href="">
            <div class="" style=" ">
              <img class="mx-auto d-block" alt="" title="" src="img/iso-image2.png">
            </div>
            <h3 class="text-dark pt-2">I want to receive one off payments</h3>
            <!-- <p class="text-muted">and it's getting chaotic.</p> -->
          </a>
          <div class="pt-4">
            <a href=""></a>
            <a title="receive payments" class="btn btn-primary btn-lg"  href="">
              receive payments
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<section style="background-color: #F4F5F8;" class="py-6">
  <div class="container">
    <h2 class="text-center pb-3">Here is why our clients love us</h2>
    <h5 class="text-center sub-text">Start your 21-day free trial. No credit card required. No strings attached.</h5>
    <div class="pt-4 text-center">
      <a title="" class="btn btn-primary btn-lg"  ui-sref="signup">
        SIGN UP FOR FREE
      </a>
    </div>
  </div>
</section>

<section style="background-color: #FFFFFF;" class="py-6">
  <div class="container">
    <h2 class="text-center pb-4">Try us. You will love the Paysite experience.</h2>
    <h6 class="text-center sub-text">Start your 21-day free trial. No credit card required. No strings attached.</h6>
    <div class="pt-4 text-center">
      <a title="" class="btn btn-primary btn-lg"  ui-sref="signup">
        SIGN UP FOR FREE
      </a>
    </div>
  </div>
</section>
