<section>
  <div class="container py-6">
    <div class="row">


      <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr style="background:#556589">
                <th>Service Description</th>
                <th>Personal</th>
                <th>Corporate</th>
              </tr>
          </thead>
                <tbody>
            <tr>
              <td>Account Opening</td>
              <td>FREE</td>
              <td>FREE</td>
            </tr>
            <tr>
              <td>Merchant Sign up</td>
              <td>FREE</td>
              <td>FREE</td>
            </tr>
            <tr>
              <td>Integration Free</td>
              <td>FREE except custom integration</td>
              <td>FREE except custom integration</td>
            </tr>
            <tr>
              <td>Merchant Verification</td>
              <td>Not Required</td>
              <td>&#8358;2,000.00</td>
            </tr>
            <tr>
              <td rowspan="3"><strong>Transaction fee</strong> <br/> <b>NB:</b> For local cards there is a maximum charge of &#8358;2000 plus agreed Paysite charges</td>
              <td>Local (Nigeria) cards - 1.5% to a cap of N2000. For transaction amounts higher than N250,000, a N100 charge will be added to the 1.5%</td>
              <td>Local (Nigeria) cards - 1.5% to a cap of N2000. For transaction amounts higher than N250,000, a N100 charge will be added to the 1.5%</td>
            </tr>
            <tr>
              <td>Foreign MasterCard & Visa - 3.9%</td>
              <td>Foreign MasterCard & Visa - 3.9%</td>
            </tr>
            <tr>
              <td>All fees are negotiable</td>
              <td>For high volume transactions, we offer good discount. Contact Folake on +2348062108256 or email info@pay-site.com</td>
            </tr>
            </tbody>
        </table>





    </div>

    </div>
  </div>
</section>
